a {
    text-decoration: none;
    font-size: 10px;
    color: gray;
}

a:hover {
    border-radius: 20px;
}

a.active {
    color: red;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
}

.mx {
    margin: 10px;
}

.content {
    border-radius: 20px;
    padding: 10px;
    border: 1px solid;
    width: 80%;
    min-height: 500px;
    margin: 50px auto;
}