.ant-form-item-label>label {
    width: 100px;
    justify-content: flex-end;
}

@font-face {
    font-family: "iconfont";
    /* Project id  */
    src: url('./fonts/iconfont.ttf?t=1666762429301') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-jiangbei:before {
    content: "\e660";
}