.exit {
    transform-origin: left top;
    /* 会导致回流，重新计算元素的位置和尺寸，所以得先让他运用进去，回流之后运用后面的样式 */
}

.exit-active {
    transform: scale(0);
    transition: 2s;
}

.enter {
    transform-origin: left top;
    transform: scale(0);
}

.enter-active {
    transform: scale(1);
    transition: 2s;
}