@import-normalize;

@import 'helper.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button,
input {
  font: inherit;
}

:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body {
  font-family: $font-hei;
  line-height: 1.5;
  font-size: 16px;
  background: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}