.row{
    display:flex;
    height: 100px;
    align-items: center;
    background: linear-gradient(rgb(238, 237, 237),white);
}

.pageHeader {
    font-size: 26px;
    margin: 20px;
    color: rgb(102, 102, 102);
    font-weight: 200;
    margin-right: 100px;
}