.container {
  width: 450px;
  margin: 20px auto;
  /* outline:1px solid */
}

h1 {
  text-align: center;
  font-weight: 100;
}

input {
  width: 350px;
  height: 30px;
  padding: 0 6px;
  color: #657180;
  border: 1px solid #d7dde4;
  border-radius: 4px;
  cursor: text;
  outline: none;
  text-indent: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
  font-weight: 100;
}

button {
  display: inline-block;
  padding: 6px 15px;
  border: 1px solid #39f;
  border-radius: 4px;
  color: #fff;
  background-color: #39f;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: rgb(98, 169, 240);
}

.item {
  width: 350px;
  padding: 10px;
  border-bottom: 1px solid #e3e8ee;
  font-weight: 100;
  cursor: pointer;
}
