.container{
    width: 100%;
    height: 60px;
    border-top: 1px solid #ccc;
    display: flex;
    align-items:center;
    color: rgb(89, 89, 89);
    cursor: pointer;
}

.container:hover{
    color: rgb(157, 157, 157);
}

.leftSide{
    width: 20px;
    height: 20px;
    outline: 1px solid;
    flex-shrink: 0;
    text-align: center;
    line-height:20px;
    border-radius: 5px;
    color: #fff;
    background-color: #4091f7;
}

.rightSide{
    box-sizing: border-box;
    padding:10px;
}